<footer class="{{ .Site.Params.background_color_class | default "bg-black" }} bottom-0 w-100 pa3" role="contentinfo">
  <div class="flex justify-between">
    <a class="f4 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="{{ .Site.Home.Permalink }}" >
      &copy; {{ with .Site.Copyright | default .Site.Title }} {{ . | safeHTML }} {{ now.Format "2006" }} 
<div>
    <a href="https://lucfreelance.vercel.app/" target="_blank" rel="noopener noreferrer" class="white-70 hover-white" style="text-decoration: none;">
        <small><small><br>Developed by Lucfreelance</small></small>
    </a>
</div>

     {{ end }}
    </a>
    <div>{{ partial "social-follow.html" . }}</div>
  </div>
</footer>
